
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Poppins", sans-serif;
}

img {
    display: block;
}

.titulo-container {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #9ab8c7;
    color: white;
    padding: 10px ;
}

.titulo {
    font-weight: 500;
    font-size: 1.5rem;
    color: white;
    text-decoration: none;
}

.span-titulo {
    font-weight: 200;
}

.hero-container {
    width: 100%;
    margin: 0 auto;
}

.hero-img-container {
    position: relative;
    width: 100%;
    aspect-ratio: 3/1;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    z-index: 1;
}

.hero-overlay {
  position: relative;
  z-index: 2;
  width: 100%;
  height: 100%;
  background: rgba(211, 214, 241, 0.2); 
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-btn {
  padding: 12px 24px;
  font-size: 1rem;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-color: white;
  color: #5e889e;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  transition: transform 0.2s ease, background-color 0.2s ease;
  text-decoration: none;
}

.hero-btn:hover {
  background-color: #5e889e;
  color: white;
  transform: scale(1.03);
}

.h2-titulo {
    font-weight: 400;
    text-align: center;
    margin-top: 40px;
    color: #496e83;
}

.articulos-grid{
    display: flex;
    gap: 20px;
    padding: 40px 20px;
    max-width: 1200px;
    width: 90%;
    margin: 0 auto;
}

.articulo-card {
    flex: 1;
    text-decoration: none;
    background: #f2f4f5;
    border-radius: 13px;
    overflow: hidden;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.articulo-card:hover{
    transform: translateY(-3px);
    box-shadow: 0 8px 24px rgba(0,0,0,0.15);
}

.art-img-container {
    width: 100%;
    aspect-ratio: 2/2.7;
    overflow: hidden;
    border-radius: inherit;
}

.art-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.art-contenido {
    padding: 10px;
}

.art-titulo {
    display: inline-block;
    margin: 0 0 10px 0;
    font-size: 1.3rem;
    font-weight: 400;
    color: black;
    border-bottom: 3px solid #5e889e;
}

.art-texto {
    font-size: 0.9rem;
    line-height: 1.5;
    color: black;
}

.footer {
    background-color: #9ab8c7;
    color: white;
    padding: 10px;
    text-align: center;
    font-size: 0.8rem;
    margin-top: 4rem;
}

@media(max-width: 768px) {
    .hero-btn {
        font-size: 0.7rem;
        padding: 10px 20px;
    }

    .articulos-grid {
        flex-direction: column;
        width: 85%;
    }

    .art-img-container {
        aspect-ratio: 2/1;
    }

    .art-titulo {
        font-size: 1.05rem;
    }

    .h2-titulo {
        font-size: 1.2rem;
    }
}


.blog-layout {
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 40px;
    width:100%;
    max-width: 1200px;
    margin: 40px auto;
    padding: 0 20px;
}

.articulo-principal {
    display: flex;
    flex-direction: column;
}

.img-princ-container {
    position: relative;
    width: 100%;
    aspect-ratio: 3/1;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.img-principal {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 10px;
}

.titulo-principal {
    font-size: 2.5rem;
    margin: 20px 0;
    color: #496e83;
    font-weight: 600;
    padding-bottom: 20px;
}

.texto-principal {
    width: 90%;
    margin: 0 auto;
    padding-top: 30px;
}

.texto-principal h2 {
    display: inline-block;
    border-bottom: 3px solid #496e83;
    margin-bottom: 30px;
    padding-top: 20px;
}

.texto-principal h3 {
    padding-bottom: 15px;
}

.texto-principal ul{
    padding-left: 40px;
    padding-bottom: 15px;
}

.texto-principal ul li::marker{
    color: #496e83;
}

.texto-principal p {
    padding: 10px 0;
}

.texto-principal p strong {
    color:#496e83;
}

.aside-columna {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 40px 0;
    background-color: #f2f4f5;
    border-radius: 10px;
}

.btn-wrapper {
    margin: 10px auto;
}

.inicio-btn {
    width: 100%;
    padding: 7px 20px;
    font-size: 1rem;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 1px;
    background-color: white;
    color: #5e889e;
    border: 1px solid #496e83;
    border-radius: 30px;
    cursor: pointer;
    transition: transform 0.2s ease, background-color 0.2s ease;
    text-decoration: none;
    text-align: center;
}

.inicio-btn:hover {
    background-color: #496e83;
    color: white;
}

.aside-cards{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 90%;
    margin: 0 auto;
}

.aside-card {
    padding-bottom: 25px;
    border-radius: 10px;
    background-color: white;
    text-decoration: none;
    color: black;
    border-bottom: 1px solid #bbbdbe;
}

.aside-card .aside-img {
    width: 100%;
    aspect-ratio: 16 / 9;
    object-fit: cover;
    border-radius: inherit;
}

.aside-card .aside-titulo {
    display: inline-block;
    font-size: 1rem;
    font-weight: 500;
    margin: 10px 0 5px;
    border-bottom: 2px solid #496e83;
    margin-left: 10px;
    padding-top: 10px;
}

.aside-card p {
    font-size: 0.9rem;
    color: black;
    margin-left: 10px;
    padding-top: 10px;
}

@media (max-width: 900px) {
    .blog-layout {
        grid-template-columns: 1fr;
    }
}